<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    {% if message is defined %}
        <h1>{{ message }} </h1>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
</body>
</html>