{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}


<div>
    {% include "product/_partials/form.html.twig" with {
        title: 'Ajouter un produit'
    } %}
</div>
{% endblock %}
