{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <h1 class="text-3xl font-bold underline text-center">
            Accueil
        </h1>
    </div>
{% endblock %}
